/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-bottom: 50px; /* Add padding at the bottom to avoid overlap */
}

html {
    scroll-behavior: smooth; /* Enables smooth scrolling for anchor links */
}

.sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky; /* Sticky positioning */
    top: 0; /* Stick to the top */
    background: #112D4E; /* Background color */
    color: white; /* Text color */
    padding: 5px 0; /* Reduced padding for header */
    z-index: 1000; /* Ensure it stays on top */
    text-align: center; /* Center align text */
}



.home-button {
    position: absolute; /* Positioning it relative to header */
    left: 20px; /* Distance from left */
    top: 20px; /* Distance from top */
    color: white;
    text-decoration: none; /* No underline */
    background-color: #2f3f50; /* Blue background */
    padding: 5px 10px; /* Padding for button */
    border-radius: 5px; /* Rounded corners */
}

.home-button:hover {
    background-color: #7d8fa3; /* Darker blue on hover */
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 20px 0;
}


.main-content {
    padding-top: 60px; /* Adjust this value based on your header height */
}

.photo-gallery {
    padding: 20px;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-item {
    margin: 15px; /* Margin around the photo item */
    text-align: center; /* Center text within the item */
    border: solid 2px #007BFF; /* Solid blue border of uniform size */
    border-radius: 8px; /* Rounded corners */
    padding: 10px; /* Uniform space between border and content */
    background-color: #F9F7F7; /* Background color for the container */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for each item */
    transition: transform 0.2s; /* Animation effect on hover */
}

.photo-item img {
    width: 200px; /* Adjust size as needed */
    height: auto;
    border-radius: 5px; /* Rounded corners for images */
}

.description {
    margin-top: 5px; /* Space between image and description */
    font-family: Arial, sans-serif;
}

.article-section {
    padding: 20px;
    background-color: white; /* Background color for article section */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3F72AF; /* Footer background color */
    color: white; /* Footer text color */
    text-align: center;
    
}